body{
    zoom: 1;
}

table, tr, th, span{
    padding:0;
    margin:0;
    font-size:14px;
    border-spacing: 0;
    font-family: Calibri;
    border: none;
}


th, td{
    padding:3px; 
    padding-left: 6px;
    text-align: left;
}

.flag{
    width: 30px;
    vertical-align: middle;
}

tr:nth-child(even){
    background-color: #EBEBD8;
}

th{
    background-color: #53B716;
    font-weight: 600;
    color: #f1f1f1;
}

#column1{
    width: 150px;
}

#column2, #column3{
    width: 110px;
}

#column4{
    width: 90px;
}

.countryName{
    margin-left: 6px;
}

td:nth-child(1n+2), th:nth-child(1n+2){
    border-left: 1px solid #C0BEA5;
}