* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Arial;
    font-weight: 500;
}

body{
    background-color: orange;
}

#container {
    top: 20px;
    background-color: white;
    display: block;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    width: 59%;
    left: 20%;
    padding: 5px;
    zoom: 1;

    header {
        text-align: center;

        a {
            font-size: 1.5em;
            font-weight: 700;
            text-align: center;
            color: #02ABEC;
        }

        a:hover{
           text-decoration: none;
        }

        hr{ 
            height: 1px;    
            margin: 10px 30px 10px 30px;
        }
    }

    #models {
        display: inline-block;
        width: 66%;
        border: 1px solid #484848;
        padding: 10px;

        fieldset {
            width: 45%;
            float: left;
            display: inline-block;
            padding: 10px 10px 0 10px;
            margin: 1px;

            legend{
                font-weight: 600;
            }

            img {
                width: 120px;
                float: left;
                margin: 0;
                margin-right: 10px;
            }

            .aRight {
                display: inline-block;
                width: 100px;
                left: 130px;

                p {
                    padding-top: 15px;
                    font-weight: 600;
                }
            }

            > p {
                display: inline-block;
                position: relative;
                top: -16px;
                font-weight: 600;
            }
        }
    }

    #settings {
        position: absolute;
        bottom: 20% ;
        display: inline-block;
        float: right;
        width: 28%;
        padding: 10px;
        vertical-align: central;

        label {
            display: inline-block;
            padding: 15px;
            width: 85%;
            font-weight: 600;

            span {
                font-size: 1.2em;
                font-weight: 500;
            }

            .aLeft{
                position: relative;
                display: inline-block;
                left: 0;
            }

            .aRight{
                position: relative;
                display: inline-block;
                width: 110px;
                text-align:center;
            }
        }

        input[type=range] {
            width: 80%;
        }
    }
}
