* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ccbbbb;
}
#thumbnails {
  height: 150px;
  text-align: center;
}
#thumbnails label img {
  margin-top: 20px;
  position: relative;
  height: 130px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#thumbnails label img:first-of-type:hover {
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border: 4px solid #ca6464;
  cursor: pointer;
}
#thumbnails label img:last-of-type {
  display: none;
  zoom: 2;
}
#thumbnails input[type=radio] {
  display: none;
}
#thumbnails input[type=radio]:checked + label img:last-of-type {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
