ul {
	list-style-type: none;
	display: inline-block;
}

a{
    text-decoration: none;
}

ul.collapsing{
	display: none;	
}

li:hover > ul.collapsing{
	display: block;
}

li:hover > a{
	cursor: pointer;
	text-decoration: underline;
	font-weight: bold;
}